
MONGODB_URI="mongodb+srv://usuario:senha@cluster0.mongodb.net/petpersonale_demo?retryWrites=true&w=majority"

EMAIL_LOJA="corretordeimoveisimediato@gmail.com"
SENHA_EMAIL_APP="sua_senha_de_app_do_gmail"

SENHA_ADMIN_INICIAL="1234"
TELEFONE_RECUPERACAO="11999999999"
TOKEN_SECRETO_SESSAO="chave_secreta_para_token_de_autenticacao"

MODO_SANDBOX="true"